* {
  box-sizing: border-box;
}

html,
body {
  @include fontem(1rem);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

pre {
  font-family: monospace;
  font-size: 1.2em;
  line-height: 1em;
}

button,
input {
  @include fontem(1em);
  background: $color-two;
  border: 1px solid $color-three;
  padding: 0.3em 0.2em;
  border-radius: 0.2em;
}

a {
  text-decoration: none;
  color: $color-links;

  &:hover {
    color: $color-links-hover;
  }

  &:visited {
    color: $color-links-visited;
  }
}

small {
  @include fontem(0.8em);
}

blockquote {
  font-size: 2em;
  display: inline;
  color: #777;

  &:before,
  &:after {
    display: inline-block;
    font-size: 3em;
    line-height: 1em;
    vertical-align: middle;
  }

  &:before {
    content: "\201c";
    width: 1.5em;
  }

  &:after {
    content: "\201d";
    width: 0.5em;
  }
}
