//from https://coolors.co/app/dcdcdd-c5c3c6-46494c-4c5c68-1985a1
$color-one: #DCDCDD;
$color-two: #C5C3C6;
$color-three: #46494C;
$color-four: #4C5C68;
$color-five: #1985A1;

$color-text-dark: #333;
$color-text-light: #ccc;

$color-links: $color-four;
$color-links-hover: $color-five;
$color-links-visited: $color-four;

