<div id="background-image" style="background-image: url({{data.hdurl}})">
</div>

<article class="nasa-image article">

  <header>
    <h1>{{data.title}}</h1>
    <time>{{data.date}}</time>
  </header>

  <p>{{data.explanation}}</p>

  <footer>
    <small ng-show="data.copyright">&copy; {{data.copyright}}</small>
  </footer>

</article>

