@import "all";

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1;
}

.hush .article.nasa-image {
  opacity: 0;
}

.article.nasa-image {
  @include fontem();

  position: relative;

  transition: opacity 0.3s;
  opacity: 1;

  width: 38%;
  max-width: 40em;
  min-width: 22em;


  margin-left: 4em;
  margin-top: 4em;

  padding: 2.5em;

  color: $color-text-light;

  background: darken($color-four, 30%);

  border-radius: 0.3em;

  h1 {
    @include fontem(2.1em);
    font-weight: normal;
    color: lighten($color-four, 10%);
  }

  time {
    display: none;
    font-family: monospace;
    color: darken($color-text-light, 20%);
  }

  p {
    @include fontem(1em, 1.5em);
    color: darken($color-text-light, 5%);
    margin: 1.5em 0;
  }

  small {
    color: darken($color-text-light, 20%);
  }

}
