<nasa-image-directive ng-class="{ hush: hush }" formatDate="{{formatDate}}"></nasa-image-directive>

<aside id="date-updater" ng-class="{ hush: hush }">

  <h1>Change the APOD date</h1>

  <form name="apod-date" ng-submit="updateImage()">
    <label>
      <span>Month</span>
      <input type="number" min="1" ng-model="date.month" />
    </label>
    <label>
      <span>Day</span>
      <input type="number" min="1" ng-model="date.day" />
    </label>
    <label>
      <span>Year</span>
      <input type="number" min="1995" max="2016" ng-model="date.year" />
    </label>

    <button type="submit">Update APOD</button>
  </form>

</aside>
