@import "all";

#date-updater {
  position: absolute;
  bottom: 4em;
  right: 4em;

  color: $color-text-light;
  background: darken($color-four, 30%);
  border-radius: 0.3em;

  padding: 2.5em;

  transition: opacity 0.3s;
  opacity: 1;

  h1 {
    @include fontem(1.5em);
    margin-bottom: 1em;
  }

  &.hush {
    opacity: 0;
  }
}

form {

  label {
    display: block;
    clear: both;
    height: 2em;
  }

  span {
    color: $color-text-light;
    vertical-align: middle;
  }

  input {
    width: 4em;
    float: right;
    vertical-align: middle;
  }

  button {
    float: right;
    margin-top: 1em;
    padding: 0.5em 1em;
  }
}
