@import "all";

#site-header {
  @include fontem();
  width: 100%;
  background: rgba(255,255,255,0.8);
  padding: 1em;

  & > h1 {
    @include fontem(2em);
    font-weight: bold;
    letter-spacing: 0.1em;
    color: $color-four;
  }

  transition: margin-top 0.2s;
  &.hush {
    margin-top: -4em;
  }
}

.showhide {

  @include fontem(1.3em);

  border-radius: 0.3em;
  position: absolute;
  top: 0.5em;
  right: 3em;
  width: 2em;
  height: 2em;
  border: 1px solid $color-four;
  background: $color-three;

  &:before {
    content: "\21b9";
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1em;
    height: 1em;
    color: $color-five;
  }

  &:after {
    @include fontem(0.8em);
    content: "Hush";
    position: absolute;
    font-weight: bold;
    top: 0.5em;
    left: 3em;
    color: $color-five;
  }

}
