<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{title}}</title>

    <link rel="stylesheet" href="css/main.css" />

  </head>

  <body ng-app="app">

    <div class="showhide" ng-click="hush=!hush"></div>

    <header id="site-header" ng-class="{ hush: hush }">
      <h1>{{header.title}}</h1>
    </header>

    <div id="site-view" ng-view ng-cloak></div>

    <script src="js/app.js"></script>
    <script src="js/templates.js"></script>

  </body>

</html>
